
body {
  font-family: 'Roboto', sans-serif;
}

.column1 {
  float: left;
  width: 20%;
  display: block;
  margin-top: 20px;
}
.column2 {

  float: left;
  width: 70%;
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;

}


/* font-family: 'Roboto', sans-serif; */



/* body {
        width: 960px;
        margin: 20px auto;
      }

      header {
        border-bottom: 1px solid gray;
        padding: 8px 0 8px 0;
      }

      nav {
        padding: 16px 0 16px 0;
        border-bottom: 1px solid gray;
      }

      footer {
        padding: 16px 0 16px 0;
        border-top: 1px solid gray;
      }

      a {
        margin-right: 6px;
      }

      section {
        display: inline-block;
        /* width: 600px; */
        padding: 0 8px 0 0;
        border-right: 1px solid gray;
        margin-bottom: 8px;
      }

      aside {
        display: inline-block;
        /* width: 343px; */
        vertical-align: top;
        padding: 0 0 0 8px;
      } */
