
body {
  font-family: 'Roboto', sans-serif;
}

.column1 {
  float: left;
  width: 20%;
  display: block;
  margin-top: 20px;
}

.column2 {
  float: left;
  width: 70%;
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;

}
